
/*================================*/
/*=== Partie sur le Swipe Menu ===*/
/*================================*/
/* Menu burger */
#buttonMenu {
  position:absolute;
  display:inline-block;
  cursor:pointer;
}

#buttonMenu .bar1, #buttonMenu .bar2, #buttonMenu .bar3 {
  width:37px;
  height:5px;
  background-color:#000000;
  margin:6px 0;
  transition:0.4s;
}
#buttonMenu:hover {
  opacity:.75;
  transition:.5s;
}

#buttonMenu.clicked .bar1 {
  -webkit-transform:rotate(-45deg) translate(-9px, 6px);
  transform:rotate(-45deg) translate(-9px, 6px);
}

#buttonMenu.clicked .bar2 {
  opacity: 0;
}

#buttonMenu.clicked .bar3 {
  -webkit-transform:rotate(45deg) translate(-8px, -8px);
  transform:rotate(45deg) translate(-8px, -8px);
}
